{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>CompaniesSearch</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    <link href="{% static 'css/company_details.css' %}" rel="stylesheet" type="text/css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>

<img src="{{ online_result.thumbnail }}">

<table id="company">
<caption>Local Data</caption>
    <tr>
        <th>Company Name</th>
        <th>Country</th>
        <th>Industry</th>
        <th>Year Founded</th>
        <th>Company Size (linkedin)</th>
        <th>Locality</th>
        <th>Current Employee</th>
        <th>Total Employee (est.)</th>
        <th>Domain</th>
        <th>Linkedin Link</th>
    </tr>
    <tr>
        <td> {{ local_result.name }}</td>
        <td> {{ local_result.country_label }} </td>
        <td> {{ local_result.industry_label }} </td>
        <td> {{ local_result.year }} </td>
        <td> {{ local_result.size }} </td>
        <td> {{ local_result.locality_label }} </td>
        <td> {{ local_result.current }} </td>
        <td> {{ local_result.total }} </td>
        {% if 'Not Exist' not in local_result.domainurl %}
            <td> <a href="{{ local_result.domainurl }}">{{ local_result.domainurl }}</a> </td>
        {% else %}
            <td>Not Exist</td>
        {% endif %}
        {% if 'Not Exist' not in local_result.linkedinurl %}
        <td> <a href="{{ local_result.linkedinurl }}">{{ local_result.linkedinurl }}</a> </td>
        {% else %}
            <td>Not Exist</td>
        {% endif %}
    </tr>
</table>

<table id="company_online">
    <caption>Remote Data (DBPedia)</caption>
    <tr>
        <th>Topic</th>
        <td><a href="{{ online_result.topic }}">{{ online_result.topic }}</a></td>
    </tr>
    <tr>
        <th>Wiki Page</th>
        <td>{{ online_result.wikipageid }}</td>
    </tr>
    <tr>
        <th>Latitude</th>
        <td>{{ online_result.latitude }}</td>
    </tr>
    <tr>
        <th>Longitude</th>
        <td>{{ online_result.longitude }}</td>
    </tr>
    <tr>
        <th>Abstract</th>
        <td>{{ online_result.abstract }}</td>
    </tr>
    <tr>
        <th>Assets</th>
        <td>{{ online_result.assets }}</td>
    </tr>
    <tr>
        <th>Equity</th>
        <td>{{ online_result.equity }}</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>{{ online_result.location }}</td>
    </tr>
    <tr>
        <th>Net Income</th>
        <td>{{ online_result.netincome }}</td>
    </tr>
    <tr>
        <th>Operating Income</th>
        <td>{{ online_result.operatingincome }}</td>
    </tr>
    <tr>
        <th>Revenue</th>
        <td>{{ online_result.revenue }}</td>
    </tr>
    <tr>
        <th>Area Served</th>
        <td>{{ online_result.areaserved }}</td>
    </tr>
    
</table>

</body>
</html>