{% load static %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>CompaniesSearch</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="{% static 'css/bootstrap.min.js' %}" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="screen" />
	<link href="{% static 'css/company_details_alt.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div>
            <div class="row search">
                <form action="{% url 'search' %}" method="get">
                	<img src="{% static 'homeicon.png' %}" width="10%" />
                    {% if query is not None %}
                        <input  id="search_box" type="text" name="companyname"  placeholder="Search company name..." value = {{ param }}>
                    {% else %}
                        <input  id="search_box" type="text" name="companyname"  placeholder="Search company name...">
                    {% endif %}

                    <input id="search_submit" type="submit" value="Search">
                </form>
            </div>
        </div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="{{ local_result.linkedinurl }}">{{ local_result.name }} (company)</a></h2>
						
						<div class="entry abstract">
							<h6>Country: {{ local_result.country_label }}, Industry:{{ local_result.industry_label }}</h6>
							<br><br>

							{% if 'Not Exist' not in online_result.thumbnail %}
							<p><img src="{{ online_result.thumbnail }}" width="500" alt="Picture of {{ local_result.name }}" /></p>
							{% else %}
							<p><img src="{% static 'image_not_found.jpg' %}" width="500" alt="Picture of {{ local_result.name }}" /></p>
							{% endif %}
							{% if 'Not Exist' not in online_result.abstract %}
							<p>{{ online_result.abstract }}</p>
							{% elif 'Not Exist' not in local_result.linkedinurl %}
							<p>Further information about {{ local_result.name }} cannot be found. Please proceed to <a href="{{ local_result.linkedinurl }}"> link about this company profile </a> to find further information.</p>
							{% elif 'Not Exist' not in local_result.domainurl %}
							<p>Further information about {{ local_result.name }} cannot be found. Please proceed to <a href="{{ local_result.domainurl }}"> link about this company </a> to find further information.</p>
							{% endif %}
							<br>
							
						</div>
						<p class="meta">
							{% if 'Not Exist' not in online_result.abstract %}
							From <a href="{{ online_result.topic }}">Wikipedia</a>&nbsp;&bull;&nbsp;
							{% endif %}
							{% if 'http' in local_result.linkedinurl %}
							 <a href="{{ local_result.linkedinurl }}" class="permalink">Full profile</a>
							{% endif %}
							{% if 'http' in local_result.domainurl %}
							&nbsp;&bull;&nbsp; <a href="{{ local_result.domainurl }}" class="permalink">Go to {{ local_result.domainurl }}</a>
							{% endif %}
						</p>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<table id="short-info">
								<thead><h5>Short Information</h5></thead>
								<hr>
								<tbody>
									{% if 'Not Exist' not in local_result.name %}
									<tr>
										<th>Name</th><td>{{ local_result.name }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in local_result.year %}
									<tr>
										<th>Year Founded:</th><td>{{ local_result.year }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in local_result.size %}
									<tr>
										<th>Company Size (linkedin):</th><td>{{ local_result.size }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in local_result.locality_label %}
									<tr>
										<th>Locality:</th><td style="text-transform: capitalize;">{{ local_result.locality_label }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in local_result.current %}
									<tr>
										<th>Current Employee:</th><td>{{ local_result.current }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in local_result.total %}
									<tr>
										<th>Total Employee (est.):</th><td>{{ local_result.total }}</td>
									</tr>
									{% endif %}
									{% if 'http' in local_result.domainurl %}
									<tr>
										<th>Domain:</th><td><a href="{{ local_result.domainurl }}">{{ local_result.domainurl }}</a></td>
									</tr>
									{% endif %}
									{% if 'http' in local_result.linkedinurl %}
									<tr>
										<th>Linkedin Link:</th><td><a href="{{ local_result.linkedinurl }}">{{ local_result.linkedinurl }}</a></td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in online_result.latitude %}
									<tr>
										<th>Latitude:</th><td>{{ online_result.latitude }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in online_result.longitude %}
									<tr>
										<th>Longitude:</th><td>{{ online_result.longitude }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in online_result.assets %}
									<tr>
										<th>Assets:</th><td>{{ online_result.assets }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in online_result.equity %}
									<tr>
										<th>Equity</th><td>{{ online_result.equity }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in online_result.location %}
									<tr>
										<th>Location</th><td>{{ online_result.location }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in online_result.netincome %}
									<tr>
										<th>Net Income</th><td>{{ online_result.netincome }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in online_result.operatingincome %}
									<tr>
										<th>Operating Income</th>
										<td>{{ online_result.operatingincome }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in online_result.revenue %}
									<tr>
										<th>Revenue</th><td>{{ online_result.revenue }}</td>
									</tr>
									{% endif %}
									{% if 'Not Exist' not in online_result.areaserved %}
									<tr>
										<th>Area Served</th><td>{{ online_result.areaserved }}</td>
									</tr>
									{% endif %}
								</tbody>
							</table>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<!-- <div id="footer-wrapper">
	<div id="three-columns">
		<div id="column1">
			<h2>Consectetuer</h2>
			<ul>
				<li><a href="#">Aliquam libero</a></li>
				<li><a href="#">Consectetuer adipiscing elit</a></li>
				<li><a href="#">Metus aliquam pellentesque</a></li>
				<li><a href="#">Suspendisse iaculis mauris</a></li>
				<li><a href="#">Urnanet non molestie semper</a></li>
				<li><a href="#">Proin gravida orci porttitor</a></li>
			</ul>
		</div>
		<div id="column2">
			<h2>Suspendisse</h2>
			<ul>
				<li><a href="#">Aliquam libero</a></li>
				<li><a href="#">Consectetuer adipiscing elit</a></li>
				<li><a href="#">Metus aliquam pellentesque</a></li>
				<li><a href="#">Suspendisse iaculis mauris</a></li>
				<li><a href="#">Urnanet non molestie semper</a></li>
				<li><a href="#">Proin gravida orci porttitor</a></li>
			</ul>
		</div>
		<div id="column3">
			<h2>Pellentesque</h2>
			<ul>
				<li><a href="#">Aliquam libero</a></li>
				<li><a href="#">Consectetuer adipiscing elit</a></li>
				<li><a href="#">Metus aliquam pellentesque</a></li>
				<li><a href="#">Suspendisse iaculis mauris</a></li>
				<li><a href="#">Urnanet non molestie semper</a></li>
				<li><a href="#">Proin gravida orci porttitor</a></li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
	</div>
</div>
 -->